.list-group-item {
    cursor: pointer;
}

.list-group-item:hover{
    background-color: #d7dfea;
}

.active-item {
    background-color: #d7dfea !important;
}

.m-t-2 {
    margin-top: 20px;
}
.m-b-1 {
    margin-bottom: 10px;
}